@use "sass:color";
@use "../../Styles/Utils/variables";
@use "../../Styles/pages/breakpoint";

.backlinks {
  
  display: flex;
  gap: 2em;
  background-color: variables.$font2-color;
  font-size: 1.5em;
  padding: 5px 1em;
  border-radius: 1em;
  margin-bottom: 20px;

  @include breakpoint.phone {
    padding: 0px 1.5em;
    gap: 0.5em;
    padding: 5px 0.3em;
  }
  li a {
    font-family: variables.$font-secondary;
    font-size: 1em;
    color: variables.$bg-color;
    text-decoration: none;

    @include breakpoint.phone {
      font-size: 0.7em;
    }

    &:hover {
      color: color.adjust($color: variables.$h2, $lightness: 0.9);
    }
  }
  a.tooltip em {
    display: none;
  }

  a.tooltip:hover {
    position: relative;
    z-index: 500;
  }

  a.tooltip:hover em {
    display: block;
    position: absolute;
    top: -100px;
    left: -50px;
    width: auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background: variables.$jaune-dor;
    color: variables.$neutral-color;
    font-size: 1em;
    padding: 5px 10px;

    @include breakpoint.phone {
      top: -70px;
    }
  }
}
