@use "../../Styles/Utils/animations" ;
@use "../../Styles/Utils/flex" ;
@use "../../Styles/Utils/variables" ;
@use "../../Styles/pages/breakpoint" ;

.accordionSection {
  border-radius: 10px;
  padding: 0;
  margin: 0px 0px 38px 0px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 76px;
  position: relative;

  @include breakpoint.desktop {
    gap: 40px;
  }

  @include breakpoint.tab {
    flex-wrap: wrap;
    margin: 0px 0px 27px 0px;
    gap: 30px;
  }

  @include breakpoint.phone {
    margin: 0px 1em 1em 1em;
    gap: 20px;
  }

  .accordionBody {
    width: 80%;
    @include flex.flex-column-justify-center;
    gap: 30px;

    @include breakpoint.tab {
      width: 100%;
      gap: 25px;
    }

    @include breakpoint.phone {
      gap: 20px;
    }

    .accordion-item {
      width: 100%;
      top: 0px;
     
      .accordion-title {
        z-index: 2;
        height: 52px;
        @include flex.flex-items-center;
        justify-content: space-between;
        background-color: variables.$font2-color;
        border-radius: 10px;
        border-left: 1px variables.$jaune-dor solid;
        color: variables.$bg-color;
        cursor: pointer;
        font-family: variables.$font-secondary;
        font-size: 1.5em;
        letter-spacing: 0.35em;
        font-weight: 700;
        padding: 10px;
        box-shadow: 10px -2px 5px variables.$font-color;
        @include breakpoint.desktop {
          font-size: 22px;
        }

        @include breakpoint.tab {
          font-size: 20px;
          font-weight: bolder;
        }

        @include breakpoint.phone {
          height: 38px;
          font-size: 16px;
          margin-bottom: 5px;
        }

        .arrow {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          @include animations.rotation0To180Deg;

          @include breakpoint.phone {
            width: 1em;
            height: 1em;
          }
        }

        .rotated {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          @include animations.rotation180To0Deg;

          @include breakpoint.phone {
            width: 1em;
            height: 1em;
          }
        }
      }

      .accordion-content {
        display: none;
        position: relative;
        top: -30px;
      }

      .accordion-content-active {
        display: block;
        overflow: hidden;
        z-index: 2;
        background-color: #e3e3e3;
        border-radius: 0px 0px 10px 10px;
        border-left: 1px variables.$jaune-dor solid;
        border-bottom: 1px variables.$jaune-dor solid;
        font-family: variables.$font-main;
        color: variables.$bg-color;
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
        padding: 20px 20px 5px 20px;
        position: relative;
        top: -10px;
        @include animations.descending;
        box-shadow: 10px 5px 5px variables.$font-color;
        @include breakpoint.desktop {
          font-size: 20px;
        }

        @include breakpoint.tab {
          font-size: 18px;
          padding-top: 15px;
        }

        @include breakpoint.phone {
          font-size: 16px;
        }

        ul {
          padding: 10px 0px 10px 0px;
          @include flex.flex-row;
          justify-content: space-around;

          @include breakpoint.phone {
            padding: 0px 0px 5px 0px;
          }
        }
      }
    }
  }
}