@use "../../Styles/Utils/variables";
@use "../../Styles/pages/breakpoint";

.carousel {
  position: relative;
  margin: 20px 10px 0.6em 10px;
  padding: 5px;
  border-radius: 2em;
  @include breakpoint.phone {
    margin: 10px 0px 0.3em 0px ;
  }
}

.carouselPicture {
  width: 100%;
  height: variables.$carouselHl;
  object-fit: scale-down;
  object-position: top;
  z-index: 1;
  border-radius: 20px;

  @include breakpoint.tab {
    height: variables.$carouselHm;
    object-fit: cover;
  }

  @include breakpoint.phone {
    margin: 20px 0 0.6em 0;
    object-fit: cover;
    object-position: top;
    object-position: left;
    height: variables.$carouselHs;
  }
}
