@use "../../Styles/Utils/animations";
@use "../../Styles/Utils/flex";
@use "../../Styles/Utils/variables";
@use "../../Styles/pages/breakpoint";

.banner {
  border: solid variables.$font-color 1px;
  border-radius: 1.2em;
  padding: 0;
  position: relative;
  margin-top: 1em;
  margin-bottom: 38px;
  opacity: 0.7;
  &:hover {
   opacity: 0.8;
   .banner-text {
     span {
      color: white;
      opacity: 0.8;
    }
   }
  }

  @include breakpoint.phone {
    height: 5em;
    width: 90%;
    background-color: variables.$font2-color;
    filter: invert(100%);
    margin: 0 auto;
  }

  img {
    height: 223px;
    width: 100%;
    border-radius: 1.2em;
    object-fit: cover;
    filter: grayscale(1);

    @include breakpoint.tab {
      height: 176px;
    }

    @include breakpoint.phone {
      display: none;
      background-color: red;
      padding: 1em 0.5em;
    }
  }

  .banner-text {
    width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translatey(50%);
    margin: 0;
    @include flex.flex-row;
    @include flex.flex-justify-items-center;
    gap: 5px;
    @include animations.fadein;
    &:hover span{
      color: variables.$font1;
    }

    @include breakpoint.tab {
      padding: 0;
      margin: 0;
      width: 100%;
      font-size: 20px;
      text-align: left;
      padding: 16px;
      flex-flow: column nowrap;
      align-items: flex-start;
    }
    @include breakpoint.phone {
      width: 90%;
    }

    span {
      font-size: 3.2em;
      color: variables.$font1;
      font-family: variables.$font-secondary;
      font-weight: 500;

      @include breakpoint.desktop-large {
        font-size: 2.6em;
      }

      @include breakpoint.desktop {
        font-size: 2em;
      }

      @include breakpoint.tab {
        font-size: 1.5em;
      }

      @include breakpoint.phone {
        color: variables.$bg-color;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
  }
}
